$font-primary: "Poppins", sans-serif;
$font-secondary: "Roboto", serif;

$primary: getColour("primary-color");
$secondary: getColour("secondary-background-color");

$border-radius: 3px !default;
$border-radius-sm: 3px !default;

$carousel-control-color: getColour("primary-color") !default;
$carousel-control-width: 5% !default;
$carousel-control-opacity: 0.9 !default;
