html,
body,
#root {
  height: 100%;
  background-color: getColour("primary-background-color");
}

#root {
  display: flex;
  flex-direction: column;
  font-family: $font-primary;
}

.wrapper {
  flex: 1 0 auto;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:hover,
  &:focus,
  &:active {
    overflow: visible;
    white-space: normal;
  }
}

.padding {
  padding: 12px;
}

button {
  &:hover,
  &:focus,
  &:active {
    text-decoration: underline !important;
  }
}
