html,
body {
  height: 100%;
  background-color: getColour("primary-background-color");
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: $font-primary;
}

.wrapper {
  flex: 1 0 auto;
}
