.navbar {
  background-color: getColour(secondary-background-color) !important;

  &-brand {
    color: getColour(black);
  }

  // finne ut om vi kan droppe flex direction columnn hvis brukeren er logged inn

  &-container {
    @media screen and (max-width: get-breakpoint(xs)) {
      display: flex;
      flex-direction: column;
    }
  }

  .active {
    text-decoration: underline !important;
  }

  &-nav {
    .nav-link-login,
    .nav-link-register {
      font-family: $font-secondary;
      width: 72px;
      height: 32px;
      text-decoration: none;
      display: grid;
      place-items: center;
    }

    .nav-link-login,
    .login-form-submit-button {
      background-color: getColour(white) !important;
      border: 2px solid getColour(primary-color) !important;
      margin-right: 1rem;
    }

    .nav-link-register {
      background-color: getColour(primary-color) !important;
      color: getColour(white) !important;
    }
  }

  a {
    text-align: center;

    &:hover {
      text-decoration: underline;
    }
  }
}

.profile-dropdown {
  cursor: pointer;
  border: none !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 100% !important;
  background-color: transparent !important;
  padding: 0 !important;

  &::after {
    display: none !important;
  }

  img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border: 2px solid #ddd;

    &:hover {
      border-color: #007bff;
    }
  }
}

.navbar-dropdown-menu {
  left: auto !important;

  .dropdown-item {
    margin-bottom: 0.2rem;

    &:last-child {
      margin-top: 1rem;
    }
  }
}
