.navbar {
  background-color: getColour(secondary-background-color) !important;

  &-brand {
    color: getColour(black);
  }

  &-container {
    @media screen and (max-width: 330px) {
      display: flex;
      flex-direction: column;
    }
  }

  .active {
    text-decoration: underline !important;
  }

  &-nav {
    .nav-link-login,
    .nav-link-register {
      font-family: $font-secondary;
      border-radius: 5px;
      width: 72px;
      height: 32px;
      text-decoration: none;
      display: grid;
      place-items: center;
    }

    .nav-link-login,
    .login-form-submit-button {
      background-color: getColour(white) !important;
      border: 2px solid getColour(primary-color) !important;
      margin-right: 1rem;
    }

    .nav-link-register {
      background-color: getColour(primary-color) !important;
      color: getColour(white) !important;
    }
  }

  a {
    text-align: center;

    &:hover {
      text-decoration: underline;
    }
  }
}

.profile-dropdown {
  cursor: pointer;
}

.profile-image {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #ddd;
}

.profile-image:hover {
  border-color: #007bff;
}
