.login-form,
.register-form {
  background-color: getColour("white");
  width: 490px;

  &-submit-button {
    background-color: getColour("primary-color") !important;
    font-family: $font-primary !important;
    font-weight: bold !important;
    &:hover {
      text-decoration: underline !important;
    }
  }

  .change-form-button {
    font-family: $font-secondary;
    border-radius: 5px;
    width: 72px;
    height: 32px;
    text-decoration: none;
    display: grid;
    place-items: center;
    background-color: getColour(white) !important;
    border: 2px solid getColour(primary-color) !important;

    &:hover {
      text-decoration: underline !important;
    }
  }
}
