.venue-image-container {
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    height: 300px;

    @media screen and (min-width: get-breakpoint(md)) {
      height: 500px;
    }
  }

  .carousel-control-prev,
  .carousel-control-next {
    background-color: getColour("primary-background-color") !important;
  }
}
