.new-venue-modal-form {
  &.darken .modal-content {
    filter: brightness(0.5);
    transition: filter 0.3s ease-in-out;
  }
  .card {
    width: 90px !important;
    height: 90px !important;
  }

  img {
    width: 100% !important;
    height: 100% !important;
  }

  .preview-image-delete-button {
    border-radius: 0px 3px 0px 3px !important;
  }

  .draggable-item {
    touch-action: none;

    &.dragging {
      opacity: 0.5;
    }
  }
}
