.venue-card {
  max-width: 250px !important;

  &:hover,
  &:focus,
  &:active {
    box-shadow: 0 4px 4px getColour(black, 0.25) !important;
  }

  &:hover .card-title,
  &:focus .card-title,
  &:active .card-title {
    text-decoration: underline !important;
  }

  a {
    color: getColour("black") !important;
  }

  img {
    width: 100%;
    object-fit: cover;
    height: 218px;
  }
}
